* {
  margin: 0;
  padding: 0; }

.cabecera__barNav__lista a {
  background-color: #000;
  margin: 20px;
  padding: 2px;
  border: solid #fff9f9 1px;
  width: fit-content;
  transition: transform .5s, background 1s; }

.main {
  width: 98%;
  min-height: 800px;
  border: solid #000 2px;
  position: relative;
  background-image: url(../../imgs/fondo.jpg);
  background-position: center; }

.main h1 {
  color: #ca451d;
  text-align: center;
  text-decoration: underline; }

.parrafoL {
  border: dotted white 1px;
  padding: 5px;
  text-align: justify;
  color: #fdfbfb;
  font-size: 18px;
  font-weight: 400;
  font-style: oblique;
  line-height: 30px; }

.parrafoL__ss {
  color: #ca451d;
  font-size: 22px;
  font-weight: 900;
  font-style: italic; }

.main__img1 {
  height: 300px;
  width: auto;
  position: relative;
  right: 50px; }

.main__img2 {
  height: 300px;
  width: auto;
  position: relative;
  right: 50px; }

/* GRIDS HOME */
.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  align-items: center;
  justify-content: space-between; }

.main__card1 {
  grid-column: 1/4;
  color: #ca451d;
  text-align: center;
  text-decoration: underline; }

.main__card2 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 25%; }

.main__card3 {
  grid-column: 2/3; }

.main__card4 {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-left: 25%; }

.main__card5 {
  grid-row: 3/4;
  grid-column: 1/4;
  text-align: center;
  position: relative;
  top: 40px; }

body {
  position: relative;
  background-color: #000;
  height: fit-content;
  width: 100%;
  display: block; }

.cabecera {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%; }

.cabecera__barraNavegacion {
  background: linear-gradient(90deg, black 0%, #ca451d 25%, #ca451d 50%, #ca451d 75%, black 100%);
  height: fit-content;
  width: 100%;
  border: 5px #000;
  border-style: double; }

.navbarBox {
  position: absolute;
  left: 28.5%; }

.navTXT {
  position: absolute;
  font-size: 0px;
  text-decoration: none;
  color: #000; }

.cabecera__barNav__lista {
  list-style: none;
  text-decoration: none;
  font-weight: 500; }

.cabecera__barNav__lista a {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.cabecera__barNav__lista a:hover {
  transform: scale(1.5);
  background: linear-gradient(90deg, black 0%, #ca451d 25%, #ca451d 50%, #ca451d 75%, black 100%); }

@media only screen and (max-width: 1024px) {
  .navbarBox {
    left: 22%; } }

@media only screen and (max-width: 768px) {
  .navbarBox {
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .navTXT {
    left: 42.5%;
    font-size: 30px; } }

@media only screen and (max-width: 425px) {
  .cabecera__barNav__lista a {
    font-size: 11px; }
  .navTXT {
    left: 38%;
    font-size: 30px; } }

@media only screen and (max-width: 375px) {
  .cabecera__barNav__lista a {
    margin: 15px; }
  .navTXT {
    left: 38%;
    font-size: 30px; } }

@media only screen and (max-width: 320px) {
  .cabecera__barNav__lista a {
    margin: 9px; }
  .navTXT {
    left: 34%;
    font-size: 30px; } }

.footer {
  padding: 10px;
  background: linear-gradient(90deg, black 0%, #ca451d 25%, #ca451d 50%, #ca451d 75%, black 100%); }
  .footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .footer i {
    color: #000; }

.mainh {
  width: 98%;
  min-height: 673px;
  border: solid #000 2px;
  position: relative;
  background-image: url(../../imgs/fondo.jpg);
  background-position: center; }

h1 {
  color: #ca451d;
  text-align: center;
  text-decoration: underline; }

.continuar {
  text-decoration: none;
  color: #ca451d; }

.parrafoH {
  position: relative;
  left: 15%;
  width: 70%;
  text-align: center; }

.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px; }

.contacto__form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 30%;
  border: solid #fff 2px;
  padding: 20px;
  background-color: rgba(202, 69, 29, 0.432);
  border-radius: 8%; }

.form__in {
  margin: 10px;
  width: 20vw; }

.form__send {
  margin: 15px;
  width: 20vw; }

.audio {
  position: sticky;
  right: 0;
  top: 50px; }

.video {
  max-width: 90px;
  position: relative;
  left: 30%; }

.imagen {
  height: 790px;
  width: auto; }
