* {
  margin: 0;
  padding: 0; }

.cabecera__barNav__lista a {
  background-color: #000;
  margin: 20px;
  padding: 2px;
  border: solid #fff9f9 1px;
  width: fit-content;
  transition: transform .5s, background 1s; }

.main {
  width: 98%;
  min-height: 600px;
  border: solid #000 2px;
  position: relative;
  background-image: url(../../imgs/fondo.jpg);
  background-position: center; }

.main h1 {
  color: #ca451d;
  text-align: center;
  text-decoration: underline; }

.parrafoL {
  border: dotted white 1px;
  padding: 5px;
  text-align: justify;
  color: #fdfbfb;
  font-size: 18px;
  font-weight: 400;
  font-style: oblique;
  line-height: 30px; }

.parrafoL__ss {
  color: #ca451d;
  font-size: 22px;
  font-weight: 900;
  font-style: italic; }

.main__img1 {
  width: 20%;
  height: 200px;
  position: absolute; }

.main__img2 {
  width: 18%;
  height: 180px;
  position: absolute; }

/* GRIDS HOME */
.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  align-items: center;
  justify-content: space-between; }

.main__card1 {
  grid-column: 1/4;
  color: #ca451d;
  text-align: center;
  text-decoration: underline; }

.main__card2 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 25%; }

.main__card3 {
  grid-column: 2/3; }

.main__card4 {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-left: 25%; }

body {
  position: relative;
  background-color: #000;
  height: fit-content;
  width: 100%;
  display: block; }

.cabecera {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%; }

.cabecera__barraNavegacion {
  background: linear-gradient(90deg, black 0%, #ca451d 25%, #ca451d 50%, #ca451d 75%, black 100%);
  height: fit-content;
  width: 100%;
  border: 5px #000;
  border-style: double; }

.navbar-brand {
  position: relative; }

.cabecera__barNav__lista {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.cabecera__barNav__lista a {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.cabecera__barNav__lista a:hover {
  transform: scale(1.5);
  background: linear-gradient(90deg, black 0%, #ca451d 25%, #ca451d 50%, #ca451d 75%, black 100%); }

.footer {
  padding: 10px;
  background: linear-gradient(90deg, black 0%, #ca451d 25%, #ca451d 50%, #ca451d 75%, black 100%); }
  .footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .footer i {
    color: #000; }

.continuar {
  text-decoration: none;
  color: #ca451d; }

.contacto__form {
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; }

.form__in {
  margin: 10px;
  width: 20%;
  background: #ca451d; }

.form__send {
  margin: 10px;
  width: 20%; }

@media only screen and (max-width: 768px) {
  /* header */
  .cabecera__barNav__lista li {
    font-size: 20px;
    width: fit-content; }
  /* main */
  .main__img1 {
    width: 18%;
    height: 120px; }
  .main__img2 {
    width: 15%;
    height: 120px; }
  h1 {
    font-size: 20px;
    padding-bottom: 10px; } }

@media only screen and (max-width: 425px) {
  /* header */
  .cabecera__barNav__lista li {
    font-size: 10px;
    width: fit-content;
    padding: 2px;
    margin: 10px; }
  /* main */
  .main__img1 {
    width: 20%;
    height: 80px; }
  .main__img2 {
    width: 20%;
    height: 80px;
    right: 1%; }
  .galeria__imagen {
    gap: 10px; } }

@media only screen and (max-width: 320px) {
  /* header */
  .cabecera__barNav__lista li {
    font-size: 8px;
    width: fit-content;
    padding: 2px;
    margin: 10px; }
  /* main */
  .main__img1 {
    width: 20%;
    height: 80px; }
  .main__img2 {
    width: 20%;
    height: 80px;
    right: 1%; } }
