*{
    margin: 0;
    padding: 0;
}
@import "./base/variables";
@import "./Componentes/index";
@import "./Componentes/body";
@import "./Componentes/header";
@import "./Componentes/footer";
@import "./Componentes/historia.scss";
@import "./Componentes/contacto";
@import "./Componentes/audio-video";
@import "./Componentes/galeria";