*{
    margin: 0;
    padding: 0;
}
@import "./base/variables";
@import "./Componentes/index";
@import "./Componentes/body";
@import "./Componentes/header";
@import "./Componentes/footer";
@import "./Componentes/historia.scss";
@import "./Componentes/contacto";
@media only screen and (max-width: 768px) {
    /* header */
    .cabecera__barNav__lista li{
        font-size: 20px;
        width: fit-content;
    }

    /* main */
    .main__img1{
        width: 18%;
        height: 120px;
    }
    .main__img2{
        width: 15%;
        height: 120px;
    }
    h1{
        font-size: 20px;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 425px) {
    /* header */
    .cabecera__barNav__lista li{
        font-size: 10px;
        width: fit-content;
        padding: 2px;
        margin: 10px;
    }

    /* main */
    .main__img1{
        width: 20%;
        height: 80px;
    }
    .main__img2{
        width: 20%;
        height: 80px;
        right: 1%;
    }
    .galeria__imagen{
        
        gap: 10px;
    }
 
}
@media only screen and (max-width: 320px) {
    /* header */
    .cabecera__barNav__lista li{
        font-size: 8px;
        width: fit-content;
        padding: 2px;
        margin: 10px;
    }

    /* main */
    .main__img1{
        width: 20%;
        height: 80px;
    }
    .main__img2{
        width: 20%;
        height: 80px;
        right: 1%;
    }
}