/* .barraNavegacion{


} */
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: #000;
    height: fit-content;
    width: 100vw;
    display: block;
    margin-left: 3px;
    
}
.cabecera{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;    
}
.logo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: fit-content;  
}
.logo__h1{
    color: rgb(202, 69, 29);
}
.logo__img{
    border-radius: 50%;
    width: 50px;
    border: solid rgb(202, 69, 29) 1px ;
    margin-right: 5px;
}
.cabecera__barraNavegacion{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,69,29,1) 25%, rgba(202,69,29,1) 50%, rgba(202,69,29,1) 75%, rgba(0,0,0,1) 100%);
    height: fit-content;
    width: 100%;
    border:5px black;
    border-style: double;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.cabecera__barNav__lista{
    list-style: none;
    text-decoration: none;
    color:  rgb(253, 252, 252);
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;    
}
.cabecera__barNav__lista li{
    background-color: rgb(3, 3, 3);
    display: inline-block;
    margin: 20px;
    padding: 2px;
    border: solid rgb(255, 249, 249) 3px;
    width: 100px;
    display: flex;
    justify-content: center;
    transition:  transform .5s, background 1s;
}
.cabecera__barNav__lista li:hover{
    transform: scale(1.5);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,69,29,1) 25%, rgba(202,69,29,1) 50%, rgba(202,69,29,1) 75%, rgba(0,0,0,1) 100%);
} 
.active{
    text-decoration: underline;
}


/* main */
.main{
    width: 100%;
    height: 100%;
    border: solid #000 2px;
    position: relative;
    background-image: url(imgs/fondo.jpg);
    background-position: center;
}
.main h1{
    color: rgb(202, 69, 29); 
    text-align: center;
    text-decoration: underline;
    
}
.parrafoL {
    border: dotted rgb(255, 255, 255) 1px;
    padding: 5px;
    text-align: justify;
    color: rgb(253, 251, 251);
    font-size: 18px;
    font-weight: 400;
    font-style: oblique;
    line-height: 30px;
     
}
.parrafoL__ss{
    color: rgb(167, 33, 6);
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
} 
.main__img1{
    width: 18%;
    height: 180px;
    position: absolute;
}
.main__img2{
    width: 18%;
    height: 180px;
    position: absolute;
   
}
/* GRIDS HOME */
.main__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    align-items: center;
    justify-content: space-between;
}
.main__card1{
    grid-column: 1/4;
    color: rgb(202, 69, 29); 
    text-align: center;
    text-decoration: underline;
}
.main__card2{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 25%;
}
.main__card3{
    grid-column: 2/3;

}
.main__card4{
    grid-column: 3/4;
    grid-row: 2/3 ;
    margin-left: 25%;
    
}
/* GRIDS GALERIA */
/* galeria */
/* .galeria__imagen{
    height: fit-content;
    width: 98%;
    display: inline-flex;
    overflow-x:scroll ;
    padding: 0px;
    padding-left: 5px;
} */
.galeria__imagen{
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin:10px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;

}
.galeria1{
    border: dotted white 2px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.galeria2{
    position: relative;
    border: dotted white 2px;
    grid-column: 2/3;
    grid-row: 1/2;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galeria3{
    
    border: dotted white 2px;
    grid-column: 1/2;
    grid-row: 2/3;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galeria4{
    border: dotted white 2px;
    grid-column: 2/3;
    grid-row: 2/3;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen__1{
    height: 200px;
    width: 250px;
}
.imagen__2{
    height: 200px;
    width: 275px;
    
}

.imagen__3{
    height: 200px;
    width: 200px;
}

.imagen__4{
    height: 200px;
    width: 250px;
}
.galeria__Parrafo{
    line-height: 30px;
    font-weight: 500;
    font-style: oblique;
    text-align: justify;
    color: white;
    border: dotted white 1px;
    margin: 10px;
    padding: 5px;
}
/* .galeria1{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */





/* footer */
.footer{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,69,29,1) 25%, rgba(202,69,29,1) 50%, rgba(202,69,29,1) 75%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 0;   
}
.footer__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;   
    width: 100%;  
}
i{
    color: #000;
}

/* .footer__logo1{
    width: 20px;;
    height: 20px;


}
.footer__logo2{
    width: fit-content;
    height: fit-content;
    

}
.footer__logo3{
    width: fit-content;
    height: fit-content;
    
}
.footer__img1{
    width: 40px;
    height: 40px;
}
.footer__img2{
    width: 40px;
    height: 40px;
}
.footer__img3{
    width: 40px;
    height: 40px;
    
} */

/* contacto */
.contacto__form{
    color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form__in{
    margin: 10px;
    width: 20%;
}


/* ONLY SCREEN */
/* TODO CELL A PC */
/* @media only screen and (min-width: 768px) {

} */


/* TODO PC A CELL */
@media only screen and (max-width: 768px) {
    /* header */
    .cabecera__barNav__lista li{
        font-size: 20px;
        width: fit-content;
    }

    /* main */
    .main__img1{
        width: 15%;
        height: 120px;
    }
    .main__img2{
        width: 15%;
        height: 120px;
    }
    h1{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .imagen__1{
        height: 150px;
        width: 200px;
    }
    .imagen__2{
        height: 150px;
        width: 225px;
        
    }
    
    .imagen__3{
        height: 150px;
        width: 150px;
    }
    
    .imagen__4{
        height: 150px;
        width: 200px;
    }
    
}
@media only screen and (max-width: 425px) {
    /* header */
    .cabecera__barNav__lista li{
        font-size: 10px;
        width: fit-content;
        padding: 2px;
        margin: 10px;
    }

    /* main */
    .main__img1{
        width: 20%;
        height: 80px;
    }
    .main__img2{
        width: 20%;
        height: 80px;
        right: 1%;
    }
    .galeria__imagen{
        
        gap: 10px;
    }
    .imagen__1{
        height: 100px;
        width: 150px;
    }
    .imagen__2{
        height: 100px;
        width: 120px;
        
    }
    
    .imagen__3{
        height: 100px;
        width: 100px;
    }
    
    .imagen__4{
        height: 100px;
        width: 120px;
    }
}
@media only screen and (max-width: 320px) {
    /* header */
    .cabecera__barNav__lista li{
        font-size: 8px;
        width: fit-content;
        padding: 2px;
        margin: 10px;
    }

    /* main */
    .main__img1{
        width: 20%;
        height: 80px;
    }
    .main__img2{
        width: 20%;
        height: 80px;
        right: 1%;
    }
}


/* boxmodeling */

/*box{s
    background-color: rgb(202, 69, 29);
    height: 12vh;
    width: 100vw;
    /* padding: top - right - bottom - left 
    /* padding: 10px 20px 30px 20px; 
    /* padding: top y bottom , right y left; 
    /* padding: 10px 20px; 
    /* padding: todos; 
    /* padding: 20px; 
    /* margin: igual q padding;
    /* border: solid 5px black;
    overflow: scroll; 
} */

