.audio{
    position: sticky;
    right: 0;
    top: 50px;
}
.videoBox{
    width: $Width-Complete;
    text-align: center;
}
.video{
    width:560px; 
    height:315px;
}
@include mediaQuery(phone){
    .video{
        width: 400px;
    }
}
@include mediaQuery(ipod){
    .video{
        width: 300px;
        height: 200px;
    }
}

