.contactBox{
    @include flexbox(column, center, center);
    height: 700px;
}
.contacto__form{
    color: rgb(255, 255, 255);
    @include flexbox(column, center, center);
    margin: 20px;
    width: 30%;
    border: solid #fff 2px;
    padding: 20px;
    // background-color: rgba(165, 163, 163, 0.479);
    background-color: rgba(202, 69, 29, 0.432);
    border-radius: 8%;

}
.form__in{
    margin: 10px;
    width: 20vw;
    
}
.form__send{
    margin:15px;
    width: 20vw;
}