.footer{
    padding: 10px;
    background: map-get($colores, bg-gradient);
    ul{
        list-style: none;
        @include flexbox(row, space-evenly, center);
        
    }
    i{
        color: map-get($colores, bg-color );
    }
}