.cabecera{
    @include flexbox(row-reverse, center, center);
    width: 100%;
    
   
}

.cabecera__barraNavegacion{
    background: map-get($colores, bg-gradient);
    height: fit-content;
    width: 100%;
    border:5px map-get($colores, bg-color);
    border-style: double;    
}
.navbar-brand{
    position: relative;
}

.cabecera__barNav__lista{
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    
    @include flexbox(row, space-evenly, center); 
}
.cabecera__barNav__lista a{
    @include flexX(center);
    @extend %boton;
}
.cabecera__barNav__lista a:hover{
    transform: scale(1.5);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,69,29,1) 25%, rgba(202,69,29,1) 50%, rgba(202,69,29,1) 75%, rgba(0,0,0,1) 100%);
} 
