.mainHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../imgs/fondo.jpg);
    background-position: center;
    height: 600px;
    width: 100%;
    h1{
        color: $color-principal;
        text-align: center;
        text-decoration: underline;
        

    }
    .parrafoH{
        border: dotted rgb(255, 255, 255) 1px;
        padding: 5px;
        text-align: justify;
        color: rgb(253, 251, 251);
        font-size: 20px;
        font-weight: 400;
        font-style: oblique;
        line-height: 30px;
        width: 90%;

    }
    a{
        text-decoration: none;
        color: $color-principal;
        text-decoration: underline;
    }
}
