.mainHistoria{
    background-image: $bg-img; 
    background-position: center;
    height: 600px;
    width: 100%;
    h1{
        @extend %titulo;
        

    }
    .parrafoH{
        @extend %parrafo;
    }
    a{
        @extend %boton;
        color: $color-principal;
    }
}
.footerH{
    @include flexbox(row, space-evenly, center);
    
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,69,29,1) 25%, rgba(202,69,29,1) 50%, rgba(202,69,29,1) 75%, rgba(0,0,0,1) 100%);
    ul{
        list-style: none;
        @include flexX(space-evenly);
    }
}
