.main{
    width: $Width-Complete;
    min-height: 800px;
    border: solid map-get($colores, bg-color) 2px;
    position: relative;
    background-image: $bg-img;
    background-position: center;
}
.main h1{
    color: map-get($colores, color-principal); 
    text-align: center;
    text-decoration: underline;    
}
.parrafoL {
    border: dotted rgb(255, 255, 255) 1px;
    padding: 5px;
    text-align: justify;
    color: rgb(253, 251, 251);
    font-size: 18px;
    font-weight: 400;
    font-style: oblique;
    line-height: 30px;     
}
.parrafoL__ss{
    color: map-get($colores, color-principal); 
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
} 
.main__img1{
    height: 300px;
    width: auto;
    position: relative;
    right: 50px;
}
.main__img2{
    height: 300px;   
    width: auto;
    position: relative;
    right: 50px;
}
/* GRIDS HOME */
.main__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    align-items: center;
    justify-content: space-between;
}
.main__card1{
    grid-column: 1/4;
    color: map-get($colores, color-principal); 
    text-align: center;
    text-decoration: underline;
}
.main__card2{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 25%;
}
.main__card3{
    grid-column: 2/3;
}
.main__card4{
    grid-column: 3/4;
    grid-row: 2/3 ;
    margin-left: 25%;    
}
.main__card5{
    grid-row: 3/4;
    grid-column: 1/4; 
    text-align: center;

}