.main{
    width: $Width-Complete;
    min-height: 800px;
    border: solid map-get($colores, bg-color) 2px;
    position: relative;
    background-image: $bg-img;
    background-position: center;
}
.main h1{
    color: map-get($colores, color-principal); 
    text-align: center;
    text-decoration: underline;    
}
.parrafoL {
    @extend %parrafo;
}
.parrafoL__ss{
    color: map-get($colores, color-principal); 
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
} 
.main__img1{
    height: 300px;
    width: auto;
    position: relative;
    right: 50px;
}
.main__img2{
    height: 300px;   
    width: auto;
    position: relative;
    right: 50px;
}
/* GRIDS HOME */
.main__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    align-items: center;
    justify-content: space-between;
}
.main__card1{
    grid-column: 1/4;
    color: map-get($colores, color-principal); 
    text-align: center;
    text-decoration: underline;
}
.main__card2{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 25%;
}
.main__card3{
    grid-column: 2/3;
}
.main__card4{
    grid-column: 3/4;
    grid-row: 2/3 ;
    margin-left: 25%;    
}
.main__card5{
    grid-row: 3/4;
    grid-column: 1/4; 
    text-align: center;
    position: relative;
    top: 40px;

}
/* responsive */
@include mediaQuery(notebook){
    .main__img1{
        height: 200px;
        
    }
    .main__img2{
        height: 200px;
        width: 220px;
    }
    .gif1{
        height: 250px;
    }
}
@include mediaQuery(tablet){
    .main__img1{
        height: 170px;
        
    }
    .main__img2{
        height: 170px;
        width: 170px;
    }
    .main{
        min-height: 1000px;
    }
}
@include mediaQuery(phone){
    .main__grid{
        margin-top: 100px;
    }
    .main__img1{
        height: 0px;
        
    }
    .main__img2{
        height: 0px;
        width: 0px;
    }
    .gif1{
        width: 400px;
    }
    .main__card3{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .main__card5{
        grid-row: 2/3;
    }
    .main{
        height: fit-content;
        min-height: 800px;
    }
}
@include mediaQuery(ipod){
    .gif1{
       width: 350px;
    }
}
@include mediaQuery(mini){
    .gif1{
        width: 250px;
     }
}